jdbc.driverClassName=com.microsoft.sqlserver.jdbc.SQLServerDriver
jdbc.url=jdbc:sqlserver://47.100.161.175:1433;databaseName=sds_mesplus
jdbc.username=sa
jdbc.password=uspring1234USPRING

jdbc_mpmlink.driverClassName=oracle.jdbc.driver.OracleDriver
jdbc_mpmlink.url=jdbc:oracle:thin:@192.168.180.30:1521/opdm1prd.sds.driveline.com
jdbc_mpmlink.username=wc11_sdspdmdevp
jdbc_mpmlink.password=sdswc101


filters:stat
   
maxActive:20
initialSize:1
maxWait:60000
minIdle:10
maxIdle:15
   
timeBetweenEvictionRunsMillis:60000
minEvictableIdleTimeMillis:300000
   
validationQuery:SELECT 'x'
testWhileIdle:true
testOnBorrow:false
testOnReturn:false

maxOpenPreparedStatements:20
removeAbandoned:true
removeAbandonedTimeout:1800
logAbandoned:true