<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
            http://www.springframework.org/schema/beans/spring-beans-4.2.xsd  
            http://www.springframework.org/schema/security   
            http://www.springframework.org/schema/security/spring-security-4.2.xsd">

	<!-- Spring Security 拦截规则. -->
	<security:http auto-config="false" entry-point-ref="unauthorizedEntryPoint"
		create-session="stateless">
		
		<!-- 自定义认证拦截器 -->
		<security:custom-filter ref="authenticationTokenProcessingFilter"
			position="FORM_LOGIN_FILTER" />
		<!-- 登录接口开放 -->
		<security:intercept-url pattern="/api/user/user_login" access="permitAll" />
		<security:intercept-url pattern="/api/user/card_login" access="permitAll" />
		<!-- 跨域接口开放 -->
		<security:intercept-url pattern="/api/**" access="permitAll" method="OPTIONS"/>
		<!-- 文件访问接口开放 -->
		<security:intercept-url pattern="/api/file/**" access="permitAll" method="GET"/>
		<!-- 产线信息查询 -->
		<security:intercept-url pattern="/api/department/workline/tree_novsm" access="permitAll" />
        <security:intercept-url pattern="/api/work_shift" access="permitAll" />
        <security:intercept-url pattern="/api/safelunch/workline" access="permitAll" />
        <security:intercept-url pattern="/api/department/workline/prodmodel/**" access="permitAll" />
		<!-- 其他接口接受权限认证 -->
		<security:intercept-url pattern="/api/**" access="hasAnyRole('ROLE_USER')" />
		
		<security:csrf disabled="true"/>
	</security:http>

</beans>