<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:context="http://www.springframework.org/schema/context"
             xmlns:aop="http://www.springframework.org/schema/aop"
             xmlns:mvc="http://www.springframework.org/schema/mvc"
             xmlns:tx="http://www.springframework.org/schema/tx"
             xmlns:task="http://www.springframework.org/schema/task"
             xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	   		 xmlns:jaxws="http://cxf.apache.org/jaxws"
	         xmlns:cxf="http://cxf.apache.org/core"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                     http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
                     http://www.springframework.org/schema/context
                     http://www.springframework.org/schema/context/spring-context-4.2.xsd
                     http://www.springframework.org/schema/aop
                     http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
                     http://www.springframework.org/schema/mvc
					 http://www.springframework.org/schema/mvc/spring-mvc.xsd
                     http://www.springframework.org/schema/tx
                     http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
                     http://www.springframework.org/schema/task
                     http://www.springframework.org/schema/task/spring-task-4.2.xsd
                     http://cxf.apache.org/jaxws
                     http://cxf.apache.org/schemas/jaxws.xsd
                     http://cxf.apache.org/core
                     http://cxf.apache.org/schemas/core.xsd">
	
	<!-- <mvc:annotation-driven /> -->
	<mvc:default-servlet-handler />
	<!-- 跨域 配置 -->
	<mvc:cors>
		<mvc:mapping path="/**" allowed-origins="*" allow-credentials="true" max-age="1800" allowed-methods="*"></mvc:mapping>
	</mvc:cors>
	<context:component-scan base-package = "com.uspring.sdsmesplus.*" />
    
    <!-- 加载自定义配置文件 -->
    <bean id="prop" class="org.springframework.beans.factory.config.PropertiesFactoryBean">  
	    <property name="locations">
	        <array>  
	            <value>classpath:params_config.properties</value>
	        </array>  
	    </property>  
	</bean>

	<!-- MongoDB 设置 -->
    <mongo:mongo-client id="mongoClient" host="10.50.52.157" port="27017"/>
    <mongo:db-factory id="mgFactory" dbname="sds_mes_trace" mongo-ref="mongoClient"/>
    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
  		<constructor-arg name="mongoDbFactory" ref="mgFactory"/>
	</bean>
    
	<!-- json 配置 -->
    <import resource="/jsonConfig/json_config.xml"/>
    
    <!-- 数据库配置 -->
    <import resource="/jdbcConfig/mybatis_config.xml"/>
    
    <!-- SpringMVC上传文件时，需要配置MultipartResolver处理器 -->
	<bean id="multipartResolver"
		  class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8" />
		<!-- 指定所上传文件的总大小,单位字节。注意maxUploadSize属性的限制不是针对单个文件，而是所有文件的容量之和 -->
		<property name="maxUploadSize" value="10240000" />
	</bean>
	
	<!-- Spring 异步调用 -->
	<task:executor id="myexecutor" pool-size="5"/>
	<task:annotation-driven executor="myexecutor"/>
	
	<!-- Dozer配置 -->
	<bean id="mapper" class="org.dozer.spring.DozerBeanMapperFactoryBean">
		<property name="mappingFiles" value="classpath*:dozer/**/*.xml"/>
	</bean>

	<!-- WebService Client -->
	<cxf:bus>
		<cxf:features>
			<cxf:logging />
		</cxf:features>
	</cxf:bus>

	<jaxws:client id="SIMESSTOCKDETAILOut"
				  serviceClass="com.uspring.sdsmesplus.wms.sap.f135.SIMESSTOCKDETAILOut"
				  wsdlLocation="#{prop.f135_wsdl_location}" />
</beans>  